services:
  backend:
    build:
      context: ./backend_anthesis
    container_name: django_api
    volumes:
      - ./backend_anthesis:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend_anthesis/.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - anthesis_net

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file:
      - ./backend_anthesis/.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - anthesis_net

  frontend:
    build:
      context: ./frontend_anthesis
    container_name: angular_front
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - anthesis_net

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - anthesis_net
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:9000/api/system/status | grep -q '\"status\":\"UP\"'"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 90s

  sonar-scanner:
    image: sonarsource/sonar-scanner-cli:latest
    container_name: sonar_scanner
    volumes:
      - ./:/usr/src
    environment:
      - SONAR_HOST_URL=http://sonarqube:9000
      - SONAR_TOKEN=${SONAR_TOKEN}
    networks:
      - anthesis_net
    depends_on:
      backend:
        condition: service_started
      sonarqube:
        condition: service_healthy

volumes:
  postgres_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

networks:
  anthesis_net:
    driver: bridge
